{{- $profile := promptStringOnce . "profile" "Choose a dotfiles profile (personal or twinkl)" "personal" -}}
{{- if and (ne $profile "personal") (ne $profile "twinkl") -}}
{{- fail "profile must be personal or twinkl" -}}
{{- end -}}
{{- $gitName := promptStringOnce . "gitName" "Git author name" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git author email" -}}
[data]
profile = {{ $profile | quote }}
gitName = {{ $gitName | quote }}
gitEmail = {{ $gitEmail | quote }}
godotPath = ""
