format = "$directory$git_branch$git_status$character"
right_format = "$time"

[time]
disabled = false
format = "[$time]($style)"
time_format = "%R"
{{ includeTemplate (printf "profile/%s/starship.toml" .profile) . }}
